.needdetail{
    background: rgba(26,47,66,0.04);
    // height: 100vh;
    
    .title{
        padding: 32px;
        background: #fff;
        font-size: 44px;
        font-weight: 600;
        color: rgba(0,0,0,0.80);
    }

    .content{
        margin-top: 16px;
        padding: 32px;
        background: #fff;
        .tips{
            display: flex;
            align-items: center;
            padding: 0px 0px 16px 0px;
            .tipicon{
                width: 12px;
                height: 32px;
                background: rgba(0,0,0,0.80);
            }
            .tipstext{
                padding-left: 12px;
            }

        }

        .tips2{
            display: flex;
            align-items: center;
            padding: 16px 0px;
            .label{
                font-size: 30px;
                color: rgba(0,0,0,0.40);
            }

            .conenttext{
                margin-left: 32px;
                font-size: 30px;
                color: rgba(0,0,0,0.80);
            }

            .conenttag{
                padding: 5px 10px;
                background: #42C777;
                border-radius: 10px;
                margin-left: 32px;
                font-size: 28px;
                color: #fff;
                text-align: center;
            }
            .conentred{
                padding: 5px 10px;
                background: #F75B5C;
                border-radius: 10px;
                margin-left: 32px;
                font-size: 28px;
                color: #fff;
                text-align: center;
            }
            .conentprocess{
                padding: 5px 10px;
                background: #ffb515;
                border-radius: 10px;
                margin-left: 32px;
                font-size: 28px;
                color: #fff;
                text-align: center;
            }

            .conentback{
                flex:1;
                padding: 18px;
                background: rgba(26,47,66,0.04);
                font-size: 30px;
                color: rgba(0,0,0,0.80);
            }
        }
    }

    .texttitle{
        padding:16px 0px;
        font-size: 32px;
        color: rgba(0,0,0,0.80);
    }



    :global{
        .goback{
            position: fixed;
            top:50px;
            left: 10pt;
            color: #fff;
            font-size: 60px;
            z-index: 9;
        }
    }

}

.list{
    display: flex;
    // align-items: center;
    // height: 270px;
    padding: 32px 26px;
    background-color: #fff;
    // border-top:1px solid rgba(26,47,66,0.10);
    .listimg{
        display: block;
        width: 240px;
        height: 240px;
    }
    .title{
        font-size: 32px;
        color: rgba(0,0,0,0.80);
        padding: 0px 32px;
        padding-bottom: 16px;
    }
    .tips{
        display: flex;
        align-items: center;
        margin-left: 26px;
        font-size: 28px;
        color: rgba(0,0,0,0.40);
        padding-bottom: 16px;
        .icon{
            width: 28px;
            height: 28px;
            padding-right: 16px;
        }
    }

    .tips2{
        display: flex;
        align-items: center;
        margin-left: 28px;
        font-size: 28px;
        color: rgba(0,0,0,0.40);
        .icon{
            width: 28px;
            height: 28px;
            padding-right: 16px;
        }
    }

   
}




.bottom {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    margin: 32px; 
    .loginout{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 32rpx;
        width: 280rpx;
        height: 92rpx;
        color: #fff;
        font-size: 32rpx;
        line-height: 90rpx;
        text-align: center;
        border-radius: 8rpx;
        border: 1PX solid #F75B5C;
        background: #F75B5C;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .agree{
        border: 1PX solid #42C777;
        background: #42C777;
    } 
}

.itemtext{
    font-size: 28px;
    color: rgba(0,0,0,0.40);
}