.factory{
    position: relative;
    background: rgba(26,47,66,0.04);
    .factorytop{
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        height: 88px;
        // margin-bottom: 16px;
        font-size: 28px;
        color: rgba(0,0,0,0.60);
        background-color: #fff;
        z-index: 9;
    }

    .topItem{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list{
        background-color:#fff;
        // padding:0pt 32px;
        padding-top: 88px;
        // margin-top: 104px;
        .margintop{
            width: 100%;
            height: 16px;
            background: rgba(26,47,66,0.04);
        }
    }

    .modal{
        position: fixed;
        top:88px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9;
        // transition: height .3s;
        // overflow: hidden;
        .listItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 88px;
            padding: 0 40px;
            font-size: 28px;
            color: rgba(0,0,0,0.60);
            background-color: #fff;
            border-top: 1px solid #e5e5e5;
        }
    }
    
}