.needdetail{
    background: rgba(26,47,66,0.04);
    height: 100vh;

    .title{
        padding: 32px;
        background: #fff;
        font-size: 32px;
        color: rgba(0,0,0,0.80);
    }

    .content{
        margin-top: 16px;
        padding: 32px;
        background: #fff;
        .tips{
            display: flex;
            align-items: center;
            padding: 0px 0px 16px 0px;
            .tipicon{
                width: 12px;
                height: 32px;
                background: rgba(0,0,0,0.80);
            }
            .tipstext{
                padding-left: 12px;
            }

        }

        .tips2{
            display: flex;
            align-items: center;
            padding: 16px 0px;
            .label{
                font-size: 30px;
                color: rgba(0,0,0,0.40);
            }

            .conenttext{
                margin-left: 32px;
                font-size: 30px;
                color: rgba(0,0,0,0.80);
            }
        }
    }



    .introduce{
        font-size: 24px;
        color: rgba(0,0,0,0.60);
        padding: 0px 0px 16px 0px;
    }

    .texttitle{
        padding:16px 0px;
        font-size: 32px;
        color: rgba(0,0,0,0.80);
        
    }

}

.list{
    display: flex;
    align-items: center;
    // height: 270px;
    padding: 32px;
    margin-top: 32px;
    background-color: #fff;
    // border-bottom:1px solid rgba(26,47,66,0.10);
    
    .title{
        font-size: 32px;
        color: rgba(0,0,0,0.80);
        padding-bottom: 16px;
    }
    .tips{
        display: flex;
        align-items: center;
        margin-left: 26px;
        font-size: 28px;
        color: rgba(0,0,0,0.40);
        padding-bottom: 16px;
        .icon{
            width: 28px;
            height: 28px;
            padding-right: 16px;
        }
    }

    .tips2{
        display: flex;
        align-items: center;
        margin-left: 28px;
        font-size: 28px;
        color: rgba(0,0,0,0.40);
        .icon{
            width: 28px;
            height: 28px;
            padding-right: 16px;
        }
    }

    .tips3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 28px;
        font-size: 28px;
        color: rgba(0,0,0,0.40);
        .icon{
            width: 28px;
            height: 28px;
            padding-right: 16px;
        }

        .share{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;  
                margin: 0 20px;
            }
        }
    }


    .rateback{
        background: #FFF8E4;  
        width: 144px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom_btn{
        width: 28px;
        height: 28px;
    }
}



.toplabel{
    display: flex;
    padding: 16px 32px 16px 32px;
    font-size: 32px;
    font-weight: 600;
    color: rgba(0,0,0,0.80);
    background: #fff;
    .leftlabel{
        font-size: 32px;
        color: rgba(0,0,0,0.40);
        width: 135px;
        display: flex;
        justify-content: flex-end;
    }

    .text{
        font-size: 32px;
        color: rgba(0,0,0,0.80);
        padding-left: 16px;
    }
}

.comment{
    background: #fff;
    padding: 32px;
    position: relative;
    .d3{
        position: absolute;
        top:-8px;
        right: 60px;
        width: 0; 
        height: 0;
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent rgba(26,47,66,0.06) transparent;
    }
    .commentbg{
        padding: 10px 20px;
        background: rgba(26,47,66,0.06);
        .commentatorTitle{
            display: inline;
            font-size: 24px;
            color: #1E54AA;
        }
        .msg{
            display: inline;
            font-size: 24px;
            color: rgba(0,0,0,0.40);
        }
    }

    .commentmsg{
        border:1px solid rgba(26,47,66,0.10);
        padding: 20px;
        flex:1;
        // display: flex;
        // align-items: center;
    }
}

.flex{
    display: flex;
    font-size: 28px;
}

.sharebtn{
    width: 28px;
    height: 28px;
    position: absolute;
    opacity: 0;
}

.drawings{
    display: flex;
    // margin-left: 26px;
    flex-wrap: wrap;
    .listimg{
        display: block;
        width: 144px;
        height: 144px;
        margin: 26px;
    }
}